<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增用户数据</title>
    <!-- 引入layui css -->
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css"/>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" v-model="user.name" required lay-verify="required" placeholder="请输入用户名称"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户年龄</label>
            <div class="layui-input-block">
                <input type="text" name="age" v-model="user.age" required lay-verify="required" placeholder="请输入用户年龄"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">用户地址</label>
            <div class="layui-input-block">
                <textarea name="addres" v-model="user.addres" placeholder="请输入地址" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="button" class="layui-btn" @click="suAddUser()" value="立即提交">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script>
    new Vue({
        el:"#app",
        data(){
            return{
                user:{}
            }
        },
        methods: {
            suAddUser(){
                alert("点击提交" + "  姓名："+this.user.name  + "  年龄："+this.user.age+"  地址："+this.user.addres);
                var _this = this;
                axios({
                    method: "POST",
                    url: "http://localhost:7921/user/insertUser/",
                    data: _this.user,
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    }
                }).then(resp => {
                    var code = resp.data.code;
                    if (code == "200") {
                        alert("新增数据成功");
                        window.location.href = "vueIndex.html";
                    } else {
                        alert("新增数据失败");
                    }

                })
            }


        }


    })
</script>

</body>
</html>